/* Base theme knobs */
:root {
    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 99%;

    --container-width: clamp(720px, 70dvw, 1200px);
    --spacing-base: 1.25em;
    --pre-border-radius: 0.25rem;
    --font-size-code: 0.9em;
    --font-size-base: 1em;
    --font-size-small: 0.9em;
    --font-family-mono: monospace;
    --color-border: hsl(var(--bg-h) var(--bg-s) calc(100% - var(--bg-l)) / 10%);
}

.dark:root {
    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 10%;
}

figure {
    margin: var(--spacing-lg) 0;
}

figure img {
    padding: 0 !important;
    border: none;
    box-shadow: 2px 2px 4px var(--color-bg-primary);
    width: 100%;
}

.terminal-nav ul {
    display: flex;
    flex-direction: column;
}

.terminal-nav a:hover {
    text-decoration: underline;
}

.menu-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25;
    width: fit-content;
}

.menu-subtitle {
    opacity: 0.8;
}

pre {
    box-shadow: none;
}

.path-nav ol {
    gap: 0.5rem;
}

h1 {
    font-size: 1.125rem;
    width: fit-content;
    border-radius: 4px;
}

h2 {
    font-size: 1rem;
}

.codeblock-filename {
    width: 100%;
    text-align: start;
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.counter-btn {
    background: var(--color-bg-muted);
    border: 1px solid var(--color-border);
    /*
    box-shadow: 1px 1px 2px var(--color-text-primary);*/
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.counter-btn:active {
    cursor: grabbing;
}

hr {
    border: none;
    border-top: 1px solid var(--color-border);
}

pre.chroma {
    font-family: "JetBrains Mono", monospace;
}
