/* Base theme knobs */
:root {
    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 99%;

    --breakpoint-mobile: 600px;
    --color-primary: oklch(0.705 0.213 47.604);
    --container-width: clamp(340px, 70dvw, 1200px);
    --spacing-base: 1.25em;
    --pre-border-radius: 0.25rem;
    --font-size-code: 0.8em;
    --font-size-base: 1.25em;
    --font-size-small: 0.8em;
    --font-family-mono: monospace;
    --color-border: hsl(var(--bg-h) var(--bg-s) calc(100% - var(--bg-l)) / 10%);
}

.dark:root {
    --bg-h: 0;
    --bg-s: 0%;
    --bg-l: 10%;
}

em,
strong {
    color: color-mix(in oklch, var(--color-primary), white 10%);
}

figure img {
    padding: 0 !important;
    border: none;
    box-shadow: 2px 2px 4px var(--color-bg-primary);
    width: 100%;
}

.terminal-nav ul {
    display: flex;
    flex-direction: column;
}

.terminal-nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px;
}

.menu-subtitle {
    opacity: 0.8;
}

pre {
    box-shadow: none;
}

.path-nav ol {
    gap: 0.5rem;
}

h1 {
    font-size: 1.125rem;
    width: fit-content;
    border-radius: 4px;
}

h2 {
    font-size: 1.125rem;
    color: var(--color-primary);
    text-underline-offset: 0.25rem;
    background-color: color-mix(
        in oklch,
        var(--color-primary),
        transparent 90%
    );
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    border: 1px dotted var(--color-primary);
    position: relative;
}

h2::after {
    content: "📌";
    position: absolute;
    right: -2rem;
}

h3,
h4 {
    color: var(--color-primary);
}

.counter-btn,
.theme-toggle,
.copy-button {
    border: 1px solid var(--color-border);
    background: var(--color-bg-muted);
}

.counter-btn {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.counter-btn:active {
    cursor: grabbing;
}

.theme-toggle,
.copy-button {
    height: 2rem;
    width: 2rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.copy-button {
    border-radius: 0.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.theme-toggle {
    border-radius: 0.75rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

:where(.theme-toggle, .copy-button) svg {
    stroke: var(--color-primary);
}

hr {
    border: none;
    border-top: 2px dotted
        color-mix(in oklch, var(--color-primary), transparent 40%);
}

figure.highlight {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    border: 1px solid var(--color-border);
    border-radius: var(--pre-border-radius);
    padding: 0.5rem 1rem;
    position: relative;
}

figure.highlight {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
}

.codeblock-filename {
    width: 100%;
    text-align: start;
    display: flex;
    font-weight: bold;
    margin-bottom: 0.5rem;
    position: sticky;
    left: 0px;
}

pre.chroma {
    font-family: "JetBrains Mono", monospace;
    max-width: 100%;
    min-width: max-content;
    border: none;
    border-radius: none;
    padding: 0;
    margin: 0;
}

th,
td {
    border: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border) !important;
}

@media screen and (max-width: 600px) {
    h2::after {
        display: none;
    }
}

li::marker {
    content: "◉ ";
    color: var(--color-primary);
}

.menu-entry {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.25;
    width: fit-content;
}

.menu-entry:hover {
    text-decoration: none !important;
}

.menu-entry-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.menu-entry.draft :where(span.menu-subtitle, strong) {
    opacity: 0.5;
}

.menu-entry:hover :where(span.menu-subtitle, strong) {
    text-decoration: underline !important;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 2px !important;
}

.menu-entry .draft-indicator {
    border: 1px solid var(--color-primary);
    background-color: color-mix(
        in oklch,
        transparent,
        var(--color-primary) 20%
    );
    color: var(--color-primary);
    font-size: 0.75rem;
    padding: 2px 4px;
    border-radius: 0.35rem;
    opacity: 1;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-entry[hidden="true"] {
    display: none;
}
